In [28]:
import pandas as pd
data = pd.DataFrame()

In [29]:
data = pd.read_csv("tripadvisor.csv")
data

,ratingDate,partial_entry
0,Diulas pada 30 Januari 2023,"Bangunan Sejarah yang keren, tempatnya bersih,..."
1,Diulas pada 23 November 2022,Banyak spot foto Instagrammable di tempat iniP...
2,Diulas pada 21 September 2022,salah satu destinasi wisata yg ada di semarang...
3,Diulas pada 30 Oktober 2021,Icon Semarang. Gedung bersejarah ini dulu kant...
4,Diulas pada 9 Oktober 2021,"Jalan-jalan ke Semarang , Jawa Tengah belum le..."
...,...,...
1231,NaN,NaN
1232,Diulas pada 19 Maret 2012,peninggalan ini terasa sekali nuansa klasiknya...
1233,Diulas pada 11 Februari 2012,Jika dulu orang mendengar nama gedung ini yang...
1234,Diulas pada 23 Januari 2012,Pengelolaan Lawang Sewu sebagai obyek wisata b...
1235,NaN,NaN

In [30]:
#Menghapus baris nilai NaN
data = data.dropna()
data

,ratingDate,partial_entry
0,Diulas pada 30 Januari 2023,"Bangunan Sejarah yang keren, tempatnya bersih,..."
1,Diulas pada 23 November 2022,Banyak spot foto Instagrammable di tempat iniP...
2,Diulas pada 21 September 2022,salah satu destinasi wisata yg ada di semarang...
3,Diulas pada 30 Oktober 2021,Icon Semarang. Gedung bersejarah ini dulu kant...
4,Diulas pada 9 Oktober 2021,"Jalan-jalan ke Semarang , Jawa Tengah belum le..."
...,...,...
1228,Diulas pada 8 Juni 2012,waktu sma sekira tahun 1994 waktu itu dipakai ...
1229,Diulas pada 4 April 2012,arsitektur yang kokoh pada zamanya..jika diraw...
1232,Diulas pada 19 Maret 2012,peninggalan ini terasa sekali nuansa klasiknya...
1233,Diulas pada 11 Februari 2012,Jika dulu orang mendengar nama gedung ini yang...
1234,Diulas pada 23 Januari 2012,Pengelolaan Lawang Sewu sebagai obyek wisata b...

In [31]:
#Menghapus kolom ratingDate
data.drop(columns = ['ratingDate'], inplace = True)
data

C:\Users\herog\AppData\Local\Temp\ipykernel_20180\2737096800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns = ['ratingDate'], inplace = True)

                                          partial_entry
0     Bangunan Sejarah yang keren, tempatnya bersih,...
1     Banyak spot foto Instagrammable di tempat iniP...
2     salah satu destinasi wisata yg ada di semarang...
3     Icon Semarang. Gedung bersejarah ini dulu kant...
4     Jalan-jalan ke Semarang , Jawa Tengah belum le...
...                                                 ...
1228  waktu sma sekira tahun 1994 waktu itu dipakai ...
1229  arsitektur yang kokoh pada zamanya..jika diraw...
1232  peninggalan ini terasa sekali nuansa klasiknya...
1233  Jika dulu orang mendengar nama gedung ini yang...
1234  Pengelolaan Lawang Sewu sebagai obyek wisata b...

[1058 rows x 1 columns]

In [32]:
#Mengubah nama kolom partial_entry menjadi Ulasan
data.rename(columns = {"partial_entry": "Ulasan"}, inplace=True)
data

C:\Users\herog\AppData\Local\Temp\ipykernel_20180\782164129.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns = {"partial_entry": "Ulasan"}, inplace=True)

                                                 Ulasan
0     Bangunan Sejarah yang keren, tempatnya bersih,...
1     Banyak spot foto Instagrammable di tempat iniP...
2     salah satu destinasi wisata yg ada di semarang...
3     Icon Semarang. Gedung bersejarah ini dulu kant...
4     Jalan-jalan ke Semarang , Jawa Tengah belum le...
...                                                 ...
1228  waktu sma sekira tahun 1994 waktu itu dipakai ...
1229  arsitektur yang kokoh pada zamanya..jika diraw...
1232  peninggalan ini terasa sekali nuansa klasiknya...
1233  Jika dulu orang mendengar nama gedung ini yang...
1234  Pengelolaan Lawang Sewu sebagai obyek wisata b...

[1058 rows x 1 columns]

In [33]:
#Save Dataset
data.to_csv('data.csv', index=False)

In [34]:
data

                                                 Ulasan
0     Bangunan Sejarah yang keren, tempatnya bersih,...
1     Banyak spot foto Instagrammable di tempat iniP...
2     salah satu destinasi wisata yg ada di semarang...
3     Icon Semarang. Gedung bersejarah ini dulu kant...
4     Jalan-jalan ke Semarang , Jawa Tengah belum le...
...                                                 ...
1228  waktu sma sekira tahun 1994 waktu itu dipakai ...
1229  arsitektur yang kokoh pada zamanya..jika diraw...
1232  peninggalan ini terasa sekali nuansa klasiknya...
1233  Jika dulu orang mendengar nama gedung ini yang...
1234  Pengelolaan Lawang Sewu sebagai obyek wisata b...

[1058 rows x 1 columns]

In [35]:
data.dtypes

Ulasan    object
dtype: object

In [36]:
data.shape

(1058, 1)

In [37]:
#Check missing value
data.isnull().sum()

Ulasan    0
dtype: int64

In [38]:
#Check data duplicated
data = data.drop_duplicates()
data.duplicated().sum()

0

In [39]:
data.to_csv('data.csv', index=False)